.taskName {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.serviceName {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin: 1rem 0 0.5rem 0;
}