.container {
    display: flex;
    align-items: top;
    border-bottom: 1px solid #eee;
    padding: 0.4rem 0;
}

.name {
    min-width: 140px;
}

.value {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    max-width: 500px;
}